{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<p>
    <h2>Welcome!</h2>

    You are here today to participate in an experiment involving economic decision making. Your earnings today will
be determined by your decisions and the decisions of another participant in this room.
We will display instructions on your screen.
You can read these at your own pace. Please read the instructions carefully.
<br>
<p>


<p>
    You will receive a €5 show-up fee. This is yours to keep, regardless of the decisions you make in the experiment.
    You can earn an additional sum of money today based on our decisions and the decisions of the other participants in this room.
    We will pay you all of your earnings, including your show-up fee, in cash at the end of this experiment.
<p>

<p>
    If you have not already done so, please turn off your cell phone. You are not allowed to communicate
    with anyone during the experiment, look at other participants' screens, or exclaim out loud.
    Please raise your hand if you have a question and an experimenter will visit your station to answer your question privately.
</p>

<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>
{% endblock %}