{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}
<h2>Results</h2>
<p><h4>
    The result of Point 2) is: <br><br>
    The offered wage is: {{ offre_wage }} <br>
    The chosen level of effort is: {{ steffort }}<br>
    Your payoff is: {{ payoff }}<br>
    The employer's payoff is: {{ payoff_other }}

    <br><br>

    You will be notified at the end of the experiment whether this period is taken into account when computing your payoffs
</h4></p>
<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>
{% endblock %}