{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<p>
    There has been a change in economic conditions for this experiment!

    This change will last for the remainder of this experiment!
<ul>
    <li> The employers per-period endowment has changed from $10 to ${{ group.actuale }} </li>
    <li> The employer’s payoff is now ( {{ group.actuale }} – wage)* effort level.</li>
    <li> Therefore, the highest wage offer possible is now {{ group.actuale }}.</li>
</ul>

</p>
<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>
{% endblock %}